{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class='intro5bottom'>
    <div class="container">
      <div class="row">
        {% if fields.edit_node.content is empty  %}
        {% else %}
          <div class="qedit_node">{{ fields.edit_node.content }}</div> 
       {% endif %}
      
          <div class="intro5bottom-left col-xs-12 col-md-6" >
          {{ drupal_view('intro5_slider', 'block_1') }}
          </div>
        
          <div class="intro5bottom-right col-xs-12 col-md-6" >
           
           {% if (fields.field_vaulted.content == "0") %} 
           <div class="download_form ty_container">
              {{ drupal_view('intro5_form', 'block_2') }}
           {% else %}
           <div class="download_form">
           <!--  <h3>{{ fields.field_form_banner_text.content }}</h3> -->
            <iframe id="landing-form-frame" name="landing-form-frame" src="{{ fields.field_form_url.content }}?&return_url={{ base_path }}/{{ fields.nid.content }}?id={{ fields.nid.content }}&title={{ fields.field_form_banner_text.content }}&form_banner_text={{ fields.field_form_banner_text.content }}&form_button_text={{ fields.field_field_form_button_text.content }}&page_title={{ fields.field_form_banner_text.content }}"
            width="100%" height="550px" scrolling="no" marginheight="0" frameborder="0">
            </iframe>
           {% endif %}
            
           </div>
          </div>
      </div>
    </div>
</div>
<div class="lightbox">
<span class="close"></span>
</div>