<div {{ attributes }}>
<div class="view-resources-library-popup">
<span class="hidethis">{{ entity.field_form_body_text[0] }}</span>
<p><a href="javascript:void(0)" class="open_popup" data-toggle="modal" data-target="#exampleModal" data-imgurl="" data-iframe-url="{{ entity.field_form_url[0] }}" data-banner-text="{{ entity.field_form_banner_text[0] }}" >{{ entity.field_field_form_button_text[0] }}</a></p>
</div>
</div>
